<div class='post-form'>
  <form action="/tweets/<%= @tweet.id %>" method='post' class='form'>
    <h3>削除する</h3>
    <input disabled type="text" name="image" placeholder='Image URL' value="<%= @tweet.image %>">
    <input type='hidden' name="_method" value="delete">
    <textarea disabled name="text" placeholder='text'><%= @tweet.text %></textarea>
    <input type="submit" value='削除'>
  </form>
</div>
